registry: "" # same as "docker.io/"

cors:
  accessControlAllowOrigins:
    - https://dorch.beebs.dev

prometheus:
  enabled: false

strim: # https://github.com/beebs-dev/strim
  enabled: false
  baseUrl: ""

nats:
  url: "nats://nats.nats.svc.cluster.local:4222"
  user: {}
  password: {}

postgres:
  host:
    value: ""
  port:
    value: ""
  database:
    value: ""
  username:
    value: ""
  password:
    value: ""
  sslmode:
    value: ""
  ca:
    value: ""

keycloak:
  endpoint: "https://keycloak.example.com"
  realm: dorch
  clientId:
    valueFrom:
      secretKeyRef:
        name: keycloak-client-cred
        key: clientid
  clientSecret:
    valueFrom:
      secretKeyRef:
        name: keycloak-client-cred
        key: clientsecret
  admin:
    realm: master
    username:
      valueFrom:
        secretKeyRef:
          name: keycloak-client-cred
          key: username
    password:
      valueFrom:
        secretKeyRef:
          name: keycloak-client-cred
          key: password

redis:
  username:
    value: ""
  password:
    value: ""
  host:
    value: ""
  port:
    value: ""
  proto:
    value: redis

livekit:
  internalUrl: "ws://livekit-livekit-server.livekit.svc.cluster.local"
  externalUrl: "wss://webrtc.beebs.dev"
  secret: livekit-cred
  apiKey:
    valueFrom:
      secretKeyRef:
        name: livekit-cred
        key: api_key
  apiSecret:
    valueFrom:
      secretKeyRef:
        name: livekit-cred
        key: api_secret

operator:
  enabled: true
  image: thavlik/dorch-operator:latest
  imagePullPolicy: Always
  replicas: 1
  logLevel: debug
  resources:
    requests: 
      memory: "64Mi"
    limits:
      memory: "128Mi"

iam:
  image: thavlik/dorch-iam:latest
  imagePullPolicy: Always
  replicas: 1
  logLevel: debug
  resources:
    requests: 
      memory: "32Mi"
    limits:
      memory: "64Mi"

jumbotron:
  enabled: false
  replicas: 1
  updater:
    image: curlimages/curl:8.18.0
    imagePullPolicy: Always
    resources:
      limits:
        memory: "32Mi"
  ffmpeg:
    image: thavlik/strim-peggy:latest
    imagePullPolicy: Always
    resources:
      limits:
        memory: "128Mi"
  peggy:
    image: thavlik/strim-peggy:latest
    imagePullPolicy: Always
    resources:
      limits:
        memory: "64Mi"
    s3:
      accessKeyId: {}
      secretAccessKey: {}
      region: "us-east-1"
      endpoint: ""
      bucket: ""
      keyPrefix: "jumbotron/"

wadinfo:
  image: thavlik/dorch-wadinfo:latest
  imagePullPolicy: Always
  replicas: 3
  logLevel: debug
  resources:
    requests:
      memory: "32Mi"
    limits:
      memory: "64Mi"
  dispatch:
    images:
      image: thavlik/dorch-wadinfo:latest
      imagePullPolicy: Always
      replicas: 1
      logLevel: debug
      resources:
        requests: 
          memory: "32Mi"
        limits:
          memory: "64Mi"
    analysis:
      image: thavlik/dorch-wadinfo:latest
      imagePullPolicy: Always
      replicas: 0
      logLevel: debug
      resources:
        requests: 
          memory: "32Mi"
        limits:
          memory: "64Mi"

master:
  image: thavlik/dorch-master:latest
  imagePullPolicy: Always
  replicas: 1
  logLevel: debug
  resources:
    requests: 
      memory: "32Mi"
    limits:
      memory: "64Mi"

auth:
  image: thavlik/dorch-auth:latest
  imagePullPolicy: Always
  replicas: 1
  logLevel: debug
  resources:
    requests: 
      memory: "32Mi"
    limits:
      memory: "64Mi"

party:
  image: thavlik/dorch-party:latest
  imagePullPolicy: Always
  replicas: 1
  logLevel: debug
  resources:
    requests: 
      memory: "32Mi"
    limits:
      memory: "64Mi"
  router:
    image: thavlik/dorch-party:latest
    imagePullPolicy: Always
    replicas: 1
    logLevel: debug
    resources:
      requests: 
        memory: "32Mi"
      limits:
        memory: "64Mi"

screenshot:
  image: thavlik/dorch-archiver:latest
  imagePullPolicy: Always
  replicas: 0
  logLevel: debug
  init:
    image: thavlik/dorch-archiver-init:latest
    imagePullPolicy: Always
    s3:
      accessKeyId: {}
      secretAccessKey: {}
      region: "us-east-1"
      endpoint: ""
      bucket: ""

archiver:
  image: thavlik/dorch-archiver:latest
  imagePullPolicy: Always
  replicas: 1
  logLevel: debug
  init:
    image: thavlik/dorch-archiver-init:latest
    imagePullPolicy: Always
    s3:
      accessKeyId: {}
      secretAccessKey: {}
      region: "us-east-1"
      endpoint: ""
      bucket: ""

analyzer:
  enabled: true
  wad:
    image: thavlik/dorch-analyzer:latest
    imagePullPolicy: Always
    replicas: 2
    logLevel: debug
    resources: {}
    openai:
      api_key:
        valueFrom:
          secretKeyRef:
            name: openai-cred
            key: api_key
      base_url: null
      model: "gpt-4.1-mini"
  map:
    image: thavlik/dorch-analyzer:latest
    imagePullPolicy: Always
    replicas: 2
    logLevel: debug
    resources: {}
    openai:
      api_key:
        valueFrom:
          secretKeyRef:
            name: openai-cred
            key: api_key
      base_url: null
      model: "gpt-4.1-mini"

webrtcAuth:
  image: thavlik/dorch-webrtc-auth:latest
  imagePullPolicy: Always
  replicas: 1
  logLevel: debug
  resources:
    requests: 
      memory: "32Mi"
    limits:
      memory: "64Mi"
  apiKey:
    valueFrom:
      secretKeyRef:
        name: livekit-cred
        key: api_key
  apiSecret:
    valueFrom:
      secretKeyRef:
        name: livekit-cred
        key: api_secret

client:
  image: thavlik/zandronum-client:latest
  imagePullPolicy: Always
  replicas: 1

browser:
  image: docker.io/thavlik/dorch-browser:latest
  imagePullPolicy: Always
  replicas: 1
  logLevel: warning
  resources:
    limits:
      memory: "64Mi"