operator:
  enabled: true
  image: thavlik/dorch-operator:latest
  imagePullPolicy: Always
  replicas: 1
  logLevel: debug
  resources:
    requests: 
      memory: "128Mi"
    limits:
      memory: "256Mi"