registry: "" # same as "docker.io/"

prometheus:
  enabled: false

nats:
  url: "nats://nats.nats.svc.cluster.local:4222"
  user: {}
  password: {}

postgres:
  host:
    value: ""
  port:
    value: ""
  database:
    value: ""
  username:
    value: ""
  password:
    value: ""
  sslmode:
    value: ""
  ca:
    value: ""

keycloak:
  endpoint: "https://keycloak.example.com"
  realm: dorch
  clientId:
    valueFrom:
      secretKeyRef:
        name: keycloak-client-cred
        key: clientid
  clientSecret:
    valueFrom:
      secretKeyRef:
        name: keycloak-client-cred
        key: clientsecret
  admin:
    realm: master
    username:
      valueFrom:
        secretKeyRef:
          name: keycloak-client-cred
          key: username
    password:
      valueFrom:
        secretKeyRef:
          name: keycloak-client-cred
          key: password

redis:
  username:
    value: ""
  password:
    value: ""
  host:
    value: ""
  port:
    value: ""
  proto:
    value: redis

livekit:
  internalUrl: "ws://livekit-livekit-server.livekit.svc.cluster.local"
  externalUrl: "wss://livekit.example.com"
  secret: livekit-cred
  apiKey:
    valueFrom:
      secretKeyRef:
        name: livekit-cred
        key: api_key
  apiSecret:
    valueFrom:
      secretKeyRef:
        name: livekit-cred
        key: api_secret

operator:
  enabled: true
  image: thavlik/dorch-operator:latest
  imagePullPolicy: Always
  replicas: 1
  logLevel: debug
  resources:
    requests: 
      memory: "64Mi"
    limits:
      memory: "128Mi"

iam:
  image: thavlik/dorch-iam:latest
  imagePullPolicy: Always
  replicas: 1
  logLevel: debug
  resources:
    requests: 
      memory: "32Mi"
    limits:
      memory: "64Mi"

wadinfo:
  image: thavlik/dorch-wadinfo:latest
  imagePullPolicy: Always
  replicas: 5
  logLevel: debug
  resources:
    requests: 
      memory: "32Mi"
    limits:
      memory: "64Mi"
  dispatch:
    images:
      image: thavlik/dorch-wadinfo:latest
      imagePullPolicy: Always
      replicas: 1
      logLevel: debug
      resources:
        requests: 
          memory: "32Mi"
        limits:
          memory: "64Mi"
    analysis:
      image: thavlik/dorch-wadinfo:latest
      imagePullPolicy: Always
      replicas: 1
      logLevel: debug
      resources:
        requests: 
          memory: "32Mi"
        limits:
          memory: "64Mi"

master:
  image: thavlik/dorch-master:latest
  imagePullPolicy: Always
  replicas: 1
  logLevel: debug
  resources:
    requests: 
      memory: "32Mi"
    limits:
      memory: "64Mi"

party:
  image: thavlik/dorch-party:latest
  imagePullPolicy: Always
  replicas: 1
  logLevel: debug
  resources:
    requests: 
      memory: "32Mi"
    limits:
      memory: "64Mi"
  router:
    image: thavlik/dorch-party:latest
    imagePullPolicy: Always
    replicas: 1
    logLevel: debug
    resources:
      requests: 
        memory: "32Mi"
      limits:
        memory: "64Mi"

screenshot:
  image: thavlik/dorch-archiver:latest
  imagePullPolicy: Always
  replicas: 0
  logLevel: debug
  resources:
    requests: 
      memory: "2048Mi"
    limits:
      memory: "2048Mi"
  init:
    image: thavlik/dorch-archiver-init:latest
    imagePullPolicy: Always
    resources:
      requests:
        memory: "256Mi"
      limits:
        memory: "512Mi"
    s3:
      accessKeyId: {}
      secretAccessKey: {}
      region: "us-east-1"
      endpoint: ""
      bucket: ""

archiver:
  image: thavlik/dorch-archiver:latest
  imagePullPolicy: Always
  replicas: 4
  logLevel: debug
  resources:
    requests: 
      memory: "2048Mi"
    limits:
      memory: "2048Mi"
  init:
    image: thavlik/dorch-archiver-init:latest
    imagePullPolicy: Always
    resources:
      requests:
        memory: "256Mi"
      limits:
        memory: "512Mi"
    s3:
      accessKeyId: {}
      secretAccessKey: {}
      region: "us-east-1"
      endpoint: ""
      bucket: ""

webrtcAuth:
  image: thavlik/dorch-webrtc-auth:latest
  imagePullPolicy: Always
  replicas: 1
  logLevel: debug
  resources:
    requests: 
      memory: "32Mi"
    limits:
      memory: "64Mi"
  apiKey:
    valueFrom:
      secretKeyRef:
        name: livekit-cred
        key: api_key
  apiSecret:
    valueFrom:
      secretKeyRef:
        name: livekit-cred
        key: api_secret
