registry: "" # same as "docker.io/"

livekit:
  url: "ws://livekit-livekit-server.livekit.svc.cluster.local"
  secret: livekit-cred
  apiKey:
    valueFrom:
      secretKeyRef:
        name: livekit-cred
        key: api_key
  apiSecret:
    valueFrom:
      secretKeyRef:
        name: livekit-cred
        key: api_secret

operator:
  enabled: true
  image: thavlik/dorch-operator:latest
  imagePullPolicy: Always
  replicas: 1
  logLevel: debug
  resources:
    requests: 
      memory: "128Mi"
    limits:
      memory: "256Mi"

prometheus:
  enabled: false